html {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  box-sizing: inherit;
  height: 100%;
}

.inline-block {
  display: inline-block;
  margin-right: 5px
}

.text-center {
  text-align: center;
}

.chat-input-wrap {
  margin-bottom: -15px;
}

.chat-input {
  width: calc(100% - 69px);
}

.App {
  /*text-align: center;*/
  height: 100%;
}

.jumbo-wrap {
  margin-top: -20px;
  background-color: #eee;
}

.vid-source {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.vid-container {
  background-color: #fff;
  margin-bottom: -2px;
  border: 1px solid #eee;
  border-radius: 2px;
  height: 320px;
}
.vid-container h2 {
  text-align: center;
  line-height: 320px;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
  vertical-align: middle;
}

.controls-container {
  /*height: 50px;
  vertical-align: middle;*/
  margin-bottom: 20px;
}

.player-controls {
  display: inline-block;
  line-height: 50px;
}

.controls-container p {
  margin: 0;
  display: inline-block;
  line-height: 50px;
  padding-left: 20px;
}

/*.video {
  margin-bottom: 15px;
}*/

.video-container {
  display: inline-block;
  font-size: large;
  height: calc(100vh - 72px);
}

.content, .video {
  height: 100%;
}

.chat-container {
  display: inline-block;
  height: calc(100vh - 668px);
  width: 100%;
  vertical-align: text-bottom;
  overflow-x: hidden;
  white-space: normal;
  word-wrap: break-word;
}

.chat-container p {
  text-align: left;
}

.panel-body {
 /*background-color: #f6f6f6;*/
}

.well {
  margin-bottom: 0;
}

.stats {
  display: inline-block;
  margin-left: 20px;
}
