html {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #eee;
}

ul, ol {
  list-style: none;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

iframe {
  border-top-left-radius: 4px;
  border: 1px solid black;
  border-top-right-radius: 4px;
}

#root {
  box-sizing: inherit;
  height: 100%;
}

.inline-block {
  display: inline-block;
  margin-right: 5px
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: #333;
}

.users-control {
  height: calc(100vh - 56px);
}

.user-alias {
  color: #333333;
}

.user-ul, user-li {
  padding: 0;
  list-style: none;
}

.user-list-alias {
  color: #333333;
  font-size: 1.2em;
  padding: 0 5px 0 5px;
}

.kick {
  color: #c20000;
}

.text-center {
  text-align: center;
}

.chat-input-wrap {
  margin-bottom: -15px;
}

.chat-input {
  width: calc(100% - 72px);
  vertical-align: bottom;
}

.App {
  height: 100%;
}

.jumbo-wrap {
  margin-top: -20px;
  background-color: #eee;
}

.vid-source {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.vid-container {
  background-color: #fff;
  margin-bottom: -2px;
  border: 1px solid #eee;
  border-radius: 2px;
  height: 400px;
}
.vid-container h2 {
  text-align: center;
  padding-top: 160px;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
  vertical-align: middle;
}

.controls-container {
  margin-bottom: 20px;
}

.player-controls {
  display: inline-block;
  line-height: 50px;
}

.controls-container p {
  margin: 0;
  display: inline-block;
  line-height: 50px;
  padding-left: 20px;
}

.video-container {
  display: inline-block;
  font-size: large;
  height: calc(100vh - 72px);
}

.content, .video {
  height: 100%;
}

.chat-container {
  display: inline-block;
  min-height: 120px;
  height: calc(100vh - 720px);
  width: 100%;
  vertical-align: text-bottom;
  overflow-x: hidden;
  white-space: normal;
  word-wrap: break-word;
}

.chat-container p {
  text-align: left;
}

.stats {
  display: inline-block;
  margin-left: 20px;
}

.three-icons {
  background-color: #fff !important;
}

.features-list {
  display: flex;
  padding-left: 0;
  flex-direction: column;
}

.feature-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  padding: 36px 0 36px 0;
}

.feature-icon {
  font-size: 6em;
  color: #265a88;
}

.splash {
  height: calc(100vh - 54px);
}

.blue > a {
  color: #1793d1 !important;
}

.blue > a:hover {
  color: #00c7ff !important;
}

.btn-custom {
  color: #fff;
  background-color: #1793d1;
  border: 1px solid #1280b7;
}

.btn-custom:hover {
  color: #fff;
  background-color: #137eb4;
}

.well {
  padding: 19px;
}

.well .inline-block .btn {
  padding: 6px 12px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .feature-li {
    padding: 5% 0 5% 0;
  }
}

@media (max-width: 372px) {
  #controls-right {
    margin-right: 0;
  }

  .well {
    padding: 19px 4px;
  }

  .well .inline-block .btn {
    padding: 6px 8px;
  }
}
